/* SearchBar.css */

.search-bar-container {
  margin-top: 100px;
  width: 80%;
}

.input-group {
  height: 60px;
}

.form-control {
  padding-left: 10px;
}

.input-group-text {
  background-color: #f8f9fa; /* Light background for search icon */
  border-right: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da; /* Bootstrap's standard border color */
}
